.venv/
data/
t1_g1/
t1_g2/
t1_g3/
t1_g4/
t1_g5/
t1post_g1/
t1post_g2/
t1post_g3/
t1post_g4/
t1post_g5/
t2_g1/
t2_g2/
t2_g3/
t2_g4/
t2_g5/
flair_g1/
flair_g2/
flair_g3/
flair_g4/
flair_g5/
storage.json
credentials.json
token.json