.slice-score {
    width: 1080px;
    height: 706px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 30px;
    column-gap: 30px;
    padding: 30px;
    overflow: hidden;
    background: #000000;
    border: 1px solid #27272A;
  }
  .slice-score .ellipse-2 {
    position: absolute;
    top: -35.41%;
    left: 54.81%;
    right: -17.22%;
    bottom: -12.61%;
    width: 674px;
    height: 1045px;
  }
  .slice-score .ellipse-1 {
    position: absolute;
    top: 7.65%;
    left: -24.54%;
    right: 62.13%;
    bottom: -55.52%;
    width: 674px;
    height: 1044px;
  }
  .slice-score .contents {
    flex-shrink: 0;
    align-self: stretch;
    width: 1020px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
  }
  .slice-score .contents .slice-score-1 {
    flex-shrink: 0;
    width: 159px;
    height: 36px;
    color: #FFFFFF;
    white-space: nowrap;
    font-family: "Inter";
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .slice-score .gallery {
    flex-shrink: 0;
    width: 1020px;
    height: 572px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .gallery-1 {
    flex-shrink: 0;
    width: 1020px;
    height: 153px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
    row-gap: 0px;
  }
  .slice-score .gallery .gallery-1 .column {
    flex-shrink: 0;
    width: 100px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .gallery-1 .column .text-1 {
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    color: #9E9E9E;
    font-family: "Inter";
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slice-score .gallery .gallery-1 .column .rectangle-14 {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: #D8D8D8;
  }
  .slice-score .gallery .gallery-1 .column-1 {
    flex-shrink: 0;
    width: 100px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .gallery-1 .column-1 .text-3 {
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    color: #9E9E9E;
    font-family: "Inter";
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slice-score .gallery .gallery-1 .column-1 .rectangle-15 {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: #D8D8D8;
  }
  .slice-score .gallery .gallery-1 .column-2 {
    flex-shrink: 0;
    width: 100px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .gallery-1 .column-2 .text-5 {
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    color: #9E9E9E;
    font-family: "Inter";
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slice-score .gallery .gallery-1 .column-2 .rectangle-16 {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: #D8D8D8;
  }
  .slice-score .gallery .gallery-1 .column-3 {
    flex-shrink: 0;
    width: 100px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .gallery-1 .column-3 .text-7 {
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    color: #9E9E9E;
    font-family: "Inter";
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slice-score .gallery .gallery-1 .column-3 .rectangle-17 {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: #D8D8D8;
  }
  .slice-score .gallery .gallery-1 .column-4 {
    flex-shrink: 0;
    width: 100px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .gallery-1 .column-4 .text-9 {
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    color: #9E9E9E;
    font-family: "Inter";
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slice-score .gallery .gallery-1 .column-4 .rectangle-18 {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: #D8D8D8;
  }
  .slice-score .gallery .slider {
    flex-shrink: 0;
    width: 644px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .slider .slider-composition {
    flex-shrink: 0;
    align-self: stretch;
    width: 644px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .slider .slider-composition .slider-header {
    flex-shrink: 0;
    align-self: stretch;
    width: 644px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
  }
  .slice-score .gallery .slider .slider-composition .slider-header .title {
    flex-grow: 1;
    width: 322px;
    height: 20px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .slice-score .gallery .slider .slider-composition .slider-header .value {
    flex-grow: 1;
    width: 322px;
    height: 20px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
  }
  .slice-score .gallery .slider .slider-composition .control {
    flex-shrink: 0;
    align-self: stretch;
    width: 644px;
    height: 16px;
  }
  .slice-score .gallery .slider .slider-composition .control .bar {
    position: absolute;
    top: calc(100% - 16px + 6px);
    left: 0px;
    right: 0px;
    width: calc(100% - 0px - 0px);
    height: 4px;
    opacity: 0.5;
    border-radius: 8px;
    background: #52525B;
  }
  .slice-score .gallery .slider .slider-composition .control .steps {
    position: absolute;
    top: calc(100% - 16px + 7.5px);
    left: 6px;
    right: 638px;
    height: 1px;
  }
  .slice-score .gallery .slider .slider-composition .control .container {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 46%;
    bottom: 0%;
    width: calc(100% - 0% - 46%);
    height: calc(100% - 0% - 0%);
  }
  .slice-score .gallery .slider .slider-composition .control .container .fill {
    position: absolute;
    top: calc(100% - 16px + 6px);
    left: 0%;
    right: 7.41%;
    width: calc(100% - 0% - 7.41%);
    height: 4px;
    border-radius: 8px;
    background: #7828C8;
  }
  .slice-score .gallery .slider .slider-composition .control .container .slider-thumb {
    position: absolute;
    top: calc(100% - 16px + 0px);
    right: 0px;
    width: 16px;
    height: 16px;
  }
  .slice-score .gallery .slider .slider-composition .control .container .slider-thumb .outline {
    position: absolute;
    top: -6.25%;
    left: -6.25%;
    right: -6.25%;
    bottom: -6.25%;
    width: calc(100% - -6.25% - -6.25%);
    height: calc(100% - -6.25% - -6.25%);
    border-radius: 999px;
    background: #000000;
    visibility: hidden;
  }
  .slice-score .gallery .slider .slider-composition .control .container .slider-thumb .thumb {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: calc(100% - 0% - 0%);
    height: calc(100% - 0% - 0%);
    border-radius: 999px;
    background: #000000;
    border: 2px solid #7828C8;
  }
  .slice-score .gallery .slider .slider-composition .control .tooltip {
    position: absolute;
    left: calc(100% - 644px + 267px);
    bottom: 24px;
    width: 110px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    visibility: hidden;
  }
  .slice-score .gallery .slider .slider-composition .control .tooltip .tooltip-arrowposition {
    flex-shrink: 0;
    width: 110px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .slice-score .gallery .slider .slider-composition .control .tooltip .tooltip-arrowposition .arrow {
    position: absolute;
    left: calc(100% - 110px + 54.72px);
    bottom: -1.93px;
    width: 10px;
    height: 10px;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.02), 0px 2px 10px 0px rgba(0, 0, 0, 0.06), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background: #006FEE;
  }
  .slice-score .gallery .slider .slider-composition .control .tooltip .tooltip-arrowposition .tooltip-composition {
    flex-shrink: 0;
    width: 110px;
    height: 28px;
    max-height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .slice-score .gallery .slider .slider-composition .control .tooltip .tooltip-arrowposition .tooltip-composition .container-1 {
    flex-shrink: 0;
    width: 110px;
    height: 28px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.03), 0px 2px 30px 0px rgba(0, 0, 0, 0.08), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px 4px 12px;
    background: #006FEE;
  }
  .slice-score .gallery .slider .slider-composition .control .tooltip .tooltip-arrowposition .tooltip-composition .container-1 .i-am-a-tooltip {
    flex-shrink: 0;
    width: 86px;
    height: 20px;
    color: #FFFFFF;
    white-space: nowrap;
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .slice-score .gallery .slider .slider-composition .slider-marks {
    flex-shrink: 0;
    align-self: stretch;
    width: 200px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    visibility: hidden;
  }
  .slice-score .gallery .slider .slider-composition .slider-marks .text-0 {
    flex-grow: 1;
    width: 40px;
    height: 16px;
    opacity: 0;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .slice-score .gallery .slider .slider-composition .slider-marks .text-20 {
    flex-grow: 1;
    width: 40px;
    height: 16px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .slice-score .gallery .slider .slider-composition .slider-marks .text-50 {
    flex-grow: 1;
    width: 40px;
    height: 16px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }
  .slice-score .gallery .slider .slider-composition .slider-marks .text-80 {
    flex-grow: 1;
    width: 40px;
    height: 16px;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
  }
  .slice-score .gallery .slider .slider-composition .slider-marks .text-100 {
    flex-grow: 1;
    width: 40px;
    height: 16px;
    opacity: 0;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
  }
  .slice-score .gallery .frame-target {
    flex-shrink: 0;
    width: 261px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }
  .slice-score .gallery .frame-target .rectangle-19 {
    flex-shrink: 0;
    width: 256px;
    height: 256px;
    border-radius: 8px;
    background: #D8D8D8;
  }
  .slice-score .gallery .frame-target .score {
    flex-shrink: 0;
    width: 55px;
    height: 28px;
    color: #9E9E9E;
    white-space: nowrap;
    font-family: "Inter";
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  